*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}


header{
    padding: 20px 0;
    background-color: red;
}

.menu{
    padding-top: 65px;
    width: 83%;
    text-align: right;
}

.menu a{
    color: white;
    font-family: cursive;
    text-decoration: none;
    margin-right: 15px;
}

.titulo{
    font-size: 30px;
    text-align: center;
    background-color: white;
    padding: 10px;
}

html{
    background-color: black;
}

.imagens img{
    width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
}

.imagens{
    column-count: 4;
    column-gap: 10px;
}