*{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

html, body{
    overflow-x: hidden;
}

.center{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 2%;
}

header{
    background-color: red;
    padding: 20px 0;
}

nav{
    padding-top: 65px;
    text-align: right;
    width: 83%;
}

nav a{
    color: white;
    font-family: cursive;
    margin-right: 15px;
    text-decoration: none;
}

.titulo{
    background-color: white;
    font-size: 30px;
    padding: 10px;
    text-align: center;
}

html{
    background-color: black;
}

table, td, th{
    border-collapse: collapse;
    border: 1px solid white;
    caption-side: top;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

table{
    margin: auto;
    width: 50%;
}

table, td{
    text-align: center;
}
caption{
    font-size: larger;
}

tr:hover{
    background-color: red;
}

.nav-list{
    list-style-type: none;
}

.nav-list li{
    display: inline;
}

footer{
    background-color: red;
    color: white;
    text-align: center;
}

.mobile-menu-icon{
    display: none;
}

.mobile-menu{
    display: none;
}

@media only screen and (max-width: 1007px){

    .center{
        display: flex;
        flex-flow: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .nav-item a{
        display: inline-block;
        padding: 10px;
        width: 100%;
        text-align: center;
        align-items: center;
    }

    .escudo img{
        width: 100px;
    }

    .titulo{
        font-size: 20px;
    }

    .mobile-menu-icon img{
        width: 30px;
    }

    .nav-bar{
        padding: 1.5 rem 4 rem;
    }

    .nav-list{
        display: none;
    }

    .mobile-menu-icon{
        display: block;
    }

    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul{
        display: inline-block;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
        justify-content: center;
        align-items:center;
    }

    .mobile-menu .nav-item{
        display: block;
        width: 100%;
        padding-top: 1.2rem;
    }

    .nav-item a:active{
        background-color: rgb(139 0 0);
    }

    .open{
        display: block;
    }

    table{
        width: 80%;
    }
}

@media only screen and (max-width: 640px){

    .nav-bar{
        padding: 1.5 rem 4 rem;
    }

    .nav-list{
        display: none;
    }

    .mobile-menu-icon{
        display: block;
    }

    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul{
        display: inline-block;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
        justify-content: center;
        align-items:center;
    }

    .mobile-menu .nav-item{
        display: block;
        width: 100%;
        padding-top: 1.2rem;
    }

    .nav-item a:active{
        background-color: rgb(139 0 0);
    }

    .open{
        display: block;
    }

    table{
        width: 100%;
    }

    .escudo img{
        width: 85px;
    }

    .titulo{
        font-size: 15px;
    }

    .mobile-menu-icon img{
        width: 25px;
    }
}